


.ui-card-md {
    width: var(--ui-card-md-w);
}


.search {
    display:            flex;
    align-items:        center;
    padding:            0.375rem 0.9rem;
    color:              #212529;
    font-size:          1rem;
    font-weight:        400;
    line-height:        1.5;
    background-color:   #FFFFFF;
    background-clip:    padding-box;
    border:             1px solid var(--ui-color-text-disabled);
    -webkit-appearance: none;
    -moz-appearance:    none;
    border-radius:      1.75rem;
    appearance:         none;
    transition:         border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search > input {
    flex-grow:  1;
    margin:     0em 0em 0em .75em;
    border:     none;
}

.search > input:focus {
    outline: none;
}

.search-icon {
    color: var(--ui-color-text-disabled);
}

.search-control {
    min-height: calc(1.5em + 1rem + 2px);
}


@media (min-width: 512px) {
    :root {
        --ui-card-md-w: 100%;
    }
}

@media (min-width: 768px) {
    :root {
        --ui-card-md-w: 24em;
    }
}

@media (min-width: 1200px) {
    :root {
        --ui-card-md-w: 26em;
    }
}

@media (min-width: 1400px) {
    :root {
        --ui-card-md-w: 26em;
    }
}
