


:root {

    --ui-color-light:           #F5F5F5;
    --ui-color-text-primary:    #263238;
    --ui-color-text-secondary:  #607D8B;
    --ui-color-text-disabled:   #90A4AE;

}


/*
 * CORES
 */


.ui-light {
    background-color: var(--ui-color-light) !important;
}



/*
 * ASSETS
 */

img[class*="avatar"] {
    width:          42px;
    height:         42px;
    border-radius:  50%;
}



/*
 * MISSELANIOUS
 */
.clickable {
    cursor: pointer;
}
